* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: #eee;
  color: #222;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

textarea {
  resize: vertical;
}

.main {
  display: flex;
  gap: 2rem;
  margin-top: 5vh;
}

.card-editor-container {
  width: 350px;
}

.card-editor-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-editor-form > input {
  height: 30px;
  font-size: 1em;
}

.card-editor-form > textarea {
  height: 200px;
}

.card-editor-form > button {
  height: 25px;
}

.card-container {
  width: 600px;
  height: 100%;
  align-items: center;
  overflow: scroll;
}

.card {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
}

.card-sub {
  margin-top: 1rem;
}

.card-title {
  margin: 2rem 0 0 6rem;
}

.card-body {
  margin: 1rem 7rem;
}

.cardface {
  background-color: #eee;
  margin: 1rem 5rem 1rem 6rem;
  display: flex;
  flex-direction: column;
}

.cardface-subtitle {
  margin: 2rem 3rem 1rem;
  text-align: center;
}

.cardface-body {
  margin: 0 3rem;
}

.line {
  width: 150px;
  height: 1px;
  background-color: #222;
  margin: 1.5rem 0 1.5rem 33%;
}

.sidebar {
  width: 350px;
}

.tile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.tile {
  background-color: #ddd;
  display: flex;
}

.tile-rank {
  width: .5rem;
  min-height: 4rem;
  margin-left: auto;
}

.tile-title {
  margin: .5rem;
  font-size: 1rem;
}

.list-container {
  margin-top: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: #ddd;
  height: 400px;
  overflow: scroll;
}

.list-item {
  display: flex;
  background-color: #ccc;
  align-items: center;
}

.list-item-title {
  margin-left: 1rem;
  font-size: .9rem;
}

.list-item-status {
  margin-left: auto;
  height: 25px;
  width: 10px;
  background-color: green;
}