* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: #eee;
  color: #222;
  margin: 0;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  gap: 2rem;
  margin-top: 5vh;
}

.card-container {
  background-color: #ddd;
  width: 600px;
  height: 100%;
  align-items: center;
  overflow: scroll;
}
.card-sides {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 2rem 0 0 6rem;
}

.card-face {
  background-color: #eee;
  margin: 1rem 5rem 1rem 6rem;
  display: flex;
  flex-direction: column;
}

.card-subtitle {
  margin: 1rem 0 0 1rem;
}

.card-body {
  margin: 1rem;
}

.line {
  width: 150px;
  height: 1px;
  background-color: #222;
  margin: 1.5rem 0 1.5rem 33%;
}

.sidebar {
  width: 350px;
}

.tile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.tile {
  background-color: #ddd;
display: flex;
}

.tile-rank {
  background-color: lightblue;
  width: .5rem;
  min-height: 4rem;
  margin-left: auto;
}

.tile-title {
  margin: .25rem;
  font-size: .8rem;
}

.list-container {
  background-color: #ddd;
  height: 375px;
  margin-top: 1rem;
}